* {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 500 !important;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 600 !important;
}
.logo {
  width: 200px;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #662d91 !important;
  border-color: #662d91 !important;
  height: 60px;
  width: 150px;
  border-radius: .75rem;
}